.button_icon_simple{background-repeat:no-repeat;background-position:center center;width:1em;height:1em;cursor:pointer;background-size:contain;opacity:.7}.button_icon_simple:active{opacity:.5}.button_icon_simple:hover{opacity:1}#wrapper{overflow-x:hidden}#wrapper #main{display:block}.map_container.map{height:60vh;margin-bottom:0;resize:vertical;overflow:hidden}.full_width{background-color:#4fd4fd}#main .inner .result .line-tittle{margin-left:0!important;font-size:1.75em;padding-top:.5em;display:block}.mint_line{margin-bottom:-1em;margin-top:1em}.rows_list{padding-top:0;min-height:50vh}.rows_list .line-tittle span.note{color:#bebebe;text-transform:uppercase;margin-right:unset}.rows_list .types{margin-top:2em;padding-top:2em}.rows_list .types:first-of-type{margin-top:0;padding-top:1em}.rows_list .coins_wrap{display:block}.rows_list .coins_wrap .button_show_coins{padding:.5em 1em;display:block;cursor:pointer}.rows_list .coins_wrap .button_show_coins:after{content:" ";display:inline-block;width:1em;height:1em;vertical-align:text-top;background-image:url(../../assets/images/icon_arrow.svg);background-repeat:no-repeat;background-size:contain;margin-left:.5em;margin-top:2px}.rows_list .coins_wrap .button_show_coins.opened:after{transform:rotate(180deg)}.rows_list .coins_wrap .coins_list{padding:0 0 0 1em}.rows_list .coins_wrap .coins_list .bibliographic_reference span{margin:0}

.custom-cluster {
  background-color: white;
  color: #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #555;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.line-tittle{
  font-size: 2em !important
}
.link_ceca{

  font-size: 2em !important;
  color: rgb(0, 95, 84) !important;

}

.mid{
  font-size : 1.5em !important;
}
.green-color{
  color: rgb(0, 95, 84);
}

.container_title {
  display: inline-flex;
  align-items: baseline; /* O center, según lo que se vea mejor */
  gap: 0.5em; /* Espacio entre texto e imagen */
}
.imagen {
  height: 2em;        /* Escala la imagen al tamaño del texto */
  width: auto;         /* Mantiene proporción */
  display: inline-block; /* para que respete bien el tamaño */
  vertical-align: middle; /* mejor que bottom para centrar */
  transform: translateY(0.75vh);
}


.imagen_text_rows {
  height: 1.5em;        /* Escala la imagen al tamaño del texto */
  width: auto;         /* Mantiene proporción */
  display: inline-block; /* para que respete bien el tamaño */
  vertical-align: middle; /* mejor que bottom para centrar */
  transform: translateY(0.60vh);
}

.text_coins{
  padding: 0.5em;
  padding-left: 1em;
  margin-bottom: 0.3em;
  font-size: 1.5em;
  color: black;

}

.container_text_rows {
  display: inline-flex;
  align-items: baseline; /* O center, según lo que se vea mejor */
}

.title_text_rows{

  padding: 0.5em;
  padding-left: 1em;
  margin-bottom: 0.3em;
  font-size: 1.5em;
  color: black;
}

.container_rows {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}

.info_coin{
  height: 100%;
  border-right: rgb(0, 95, 84) 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: black 1px solid;
  border-top: black 1px solid;
  border-left: black 1px solid;
}

.info_coin > .container_images{
  width: 75%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  padding-bottom: 2%;
  padding-top: 2%;
}

.info_coin > .container_images > img{
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 1;
  padding-top: 1%;
  padding-bottom: 1%;
}
/*# sourceMappingURL=map.css.map */
#wrapper .inner{
  max-width: 100%;
}

.container_data{
  width: 100%;
  display: grid;
  margin: 0;
  min-height: 8vh;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3,1fr);
  border-top: 1px solid black;
  padding-top: 1%;
  border-bottom: 1px solid black;
  padding-bottom: 1%;
}

.container_data > span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* máximo de 2 líneas */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em; /* puedes ajustar esto si lo necesitas */
  max-height: calc(1.2em * 2); /* 2 líneas de altura */
}




.findspot{
  align-self: start;
}



h1{
  margin-top: 5vh;
}