#footer {
  background-color: #045c54;
  padding: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: grid;
  grid-template-columns: 1.25fr 0.75fr 1.25fr;
  visibility: visible;
  width: 100%;
  height: 10.5vh;
}

@media (max-width: 1100px) {
  #footer  {
    display: flex;
    flex-direction: column; /* Cambia a columna para pantallas más pequeñas */
    align-items: center; /* Centra los elementos horizontalmente */
    height: auto;
  }
  .text-left{
    text-align: center;
    font-size: 0.9rem !important;
  }
  #footer > .section-center> .dedalo  > p{
    margin:auto;
    font-size: 0.9rem !important;
      
  }
  .dedalo_image{
    height: 1.5rem !important; 
  }
  .section-left{
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 3%;
  }
  .section-center{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
    margin-left: 3%;
  }
  .section-right{
    margin-bottom: 3%;
    margin-right: 3%;
    margin-left: 3%;
  }

  
}
@media (max-width: 1200px) {

  .section-right ul li {
    flex: 0 0 50%; /* 2 por fila */
    max-width: 95%;
    padding: 0.5rem;
  }
   .section-right ul li :nth-child(3) {
    height: 85%;
  }
  
  
  .section-center::before {
    display: none; /* Oculta el fondo en pantallas más pequeñas */
  }
  .section-center > a {
    display: none; /* Oculta el enlace en pantallas más pequeñas */
  }
  .section-center > a > img {
    display: none; /* Oculta el enlace en pantallas más pequeñas */
  }
}

#footer > .section-left {
  display: flex;
  flex-direction: column; /* Mantiene los elementos en una columna */
  justify-content: center;
  align-items: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
#footer > .section-left > .text-left{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: white;
  font-size: 0.85rem;
  margin: 0 auto;

}

#footer > .section-center{
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* <-- alinea verticalmente */
  width: 100%;
  height: 100%;
}

.section-center::before {
  position:absolute;
  content: '';
  top: -50px; /* ajusta para que sobresalga hacia arriba */
  transform: translateY(-67.5%);
  width: 100%;
  height: 165%;
  background: url('../html/Footer_huevo.svg') no-repeat center;
  background-size: contain;
  background-position: bottom center; /* Asegura que el fondo esté centrado en la parte inferior */
  z-index: 0;
  overflow: visible !important;
}

.section-center > a {
  position: absolute;
  top: -50px; /* ajusta según tu diseño */
  left: 26%;
  transform: translatey(-50%);
  width: 9vw;
  height: 9vw; /* ← Añadí esto */
  aspect-ratio: 1;
  z-index: 10;
  display: block;
  border-bottom: none; /* sobre el fondo pero detrás del contenido si necesitas */
}

#footer > .section-center > .dedalo {
  display: flex;
  flex-direction: column; /* Cambia a columna para alinear verticalmente */
  justify-content: flex-end;
  width: 100%;
  height: 20%;
  margin-top:auto ;
}

.dedalo_image{
  height: 1.4em;
  vertical-align: text-bottom;
  transition: all 0.35s linear;
}
.dedalo_image:hover {
  transform: scale(1.05);
  opacity: 1;
  }

#footer > .section-center> .dedalo  > p{
  margin:0;
  font-size: 0.8rem;
  color: white;
  text-align: center;

}

.section-right {
    flex: 1; /* ocupa el espacio restante en su contenedor padre */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden; /* Asegura que el contenedor tenga altura completa para centrar verticalmente */

}
.section-right ul {
    display: flex; /* Asegura que el ul utilice flexbox */
    justify-content: center;
    flex-wrap: wrap; 
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; /* Asegura que el ul ocupe todo el ancho del contenedor */
  }
  
  .section-right ul li {
    flex: 1;
    height: 90%;
    display: flex; /* Asegura que los li utilicen flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  .section-right ul li :nth-child(3) {
    height: 85%;
  }
  
  .section-right ul li ul {
    display: flex; /* Asegura que el ul anidado utilice flexbox */
    justify-content: center;
    align-items: center;
    width: 100%; /* Asegura que el ul anidado ocupe todo el ancho del contenedor */
  }
   
  
  .section-right a {
    width: auto;
    display: flex; /* Asegura que los enlaces utilicen flexbox */
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    border: none;
  }
  
  .section-right li img.footer_image_item {
    max-width: 100%;
    max-height: 100%;
    display:block;
    filter: sepia(100%) saturate(0) brightness(100%);
    opacity: 0.85;
    transition: all 0.35s linear;
  }
.section-right img.footer_image_item:hover {
  transform: scale(1.05);
  opacity: 1;
  }
/*
.logo_footer{
display: inline-block; /* Asegura que el div solo ocupe el espacio necesario para su contenido 
}
.logo_footer img {
  position: absolute;
  right: 41.3%;
  top: 12%;
  transform:  translateX(-60%) ;
  width: 8.8%;
  z-index: 2; /* Asegúrate de que el logo esté encima del fondo 
}

.text-container {
  display: flex;
  position: absolute;
  bottom: 0%;
  left: 0.5%;
  max-width: 38%;
  height: 35%;
  justify-content: center;
  align-items: center;
}



.text-container p {
  color: white;
  font-size: 0.6vw;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.powered_by {
  display: flex;
  flex-direction: row; /* Mantiene los elementos en una fila 
  bottom: 0;
  padding-top: 0.5%;
  position: absolute;
  height: 20%;
  max-width: 30%;
  justify-content: center;
  align-items: center;
}

.powered_by p {
  color: white;
  font-size: 0.55vw;
  margin: 0 0.1vw; /* Espacio horizontal entre los elementos 
  text-align: center; /* Centra el texto 
}

.powered_by .dedalo_image {
  padding: 0.1vw;
  height: 100%;
}

.powered_by a {
  height: 80%;
  text-decoration: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.powered_by a:hover{
  transform: scale(1.15);
  transition: 0.5s ease;
}

  .footer-section-wrapper {
    display: flex;
    position: absolute;
    right: 1%;
    width: 39%;
    bottom: 0;
    list-style-type: none;
    justify-content: center; /* Centra horizontalmente 
    align-items: center; /* Centra verticalmente 
    box-sizing: border-box;
    height: 35%; /* Asegura que el contenedor tenga altura completa para centrar verticalmente 
  }
  
  .footer-section-wrapper ul {
    display: flex; /* Asegura que el ul utilice flexbox 
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; /* Asegura que el ul ocupe todo el ancho del contenedor 
  }
  
  .footer-section-wrapper ul li {
    flex: 1;
    height: 100%;
    display: flex; /* Asegura que los li utilicen flexbox 
    justify-content: center; /* Centra horizontalmente 
    align-items: center; /* Centra verticalmente 
  }
  
  .footer-section-wrapper ul li ul {
    display: flex; /* Asegura que el ul anidado utilice flexbox 
    justify-content: center;
    align-items: center;
    width: 100%; /* Asegura que el ul anidado ocupe todo el ancho del contenedor 
  }
  
  .footer-section-wrapper ul li ul li {
    flex: 1;
    height: 100%;
    padding: 0;
    display: flex; /* Asegura que los li anidados utilicen flexbox 
    justify-content: center; /* Centra horizontalmente 
    align-items: center; /* Centra verticalmente 
  }
  
  .footer-section-wrapper a {
    width: auto;
    display: flex; /* Asegura que los enlaces utilicen flexbox 
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    border: none;
  }
  
  .footer-section-wrapper li img.footer_image_item {
    max-width: 100%;
    max-height: 100%;
    display: block; /* Asegura que la imagen se comporte como bloque y pueda ser centrada 
    filter: sepia(100%) saturate(0) brightness(100%);
    opacity: 0.85;
    transition: all 0.35s linear;
  }
.footer-section-wrapper img.footer_image_item:hover {
  transform: scale(1.05);
  opacity: 1;
}


/* Accede a la primera imagen dentro del .footer-section-wrapper */


/* #footer {
  background-color: #4e8a73;
  padding: 0;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  color: #b7996d;
  opacity: 1;
  transition: opacity 0.35s ease-in-out;
  visibility: visible;
  overflow-x: hidden;
}
#footer.hidded {
  opacity: 0;
  visibility: hidden;
}
#footer a {
  color: #cccccc;
}
#footer a:hover {
  color: #b7996d !important;
}
#footer > section {
  width: 100%;
  text-align: center;
}
#footer > section h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-transform: initial;
  font-variant: small-caps;
  letter-spacing: 0.5em;
  font-size: 2.25em;
}
#footer .inner {
  right: 0%;
  width: 80%;
  margin: 0 auto;
}
#footer .inner ul {
  display: block;
  color: #ffffff !important;
  list-style-type: none;
}
#footer .inner li {
  list-style-type: none;
} 
#footer .inner .footer-section-wrapper {
  color: #b7996d;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
#footer .inner .footer-section-wrapper > ul:first-child {
  width: 125%;
}
#footer .inner .footer-section-wrapper > ul:nth-child(4),
#footer .inner .footer-section-wrapper > ul:nth-child(5) {
  width: 65%;
}
#footer .inner .footer-section-wrapper ul {
  right: 0%;
  width: 90%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#footer .inner .footer-section-wrapper ul li {
  margin: 0;
  padding: 0;
  flex: 1 1;
  line-height: 1.2em;
}
#footer .inner .footer-section-wrapper > ul {
  margin-bottom: 0.5rem;
}
#footer .inner .footer-section-wrapper a {
  text-decoration: none;
  border: none;
}
#footer .inner .footer-section-wrapper .footer-section-txt {
  border-bottom: solid 1px #f0f0f0;
  color: #eeeeee;
  margin-top: 0.25rem;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}
#footer .inner .footer-section-wrapper .footer-links-a {
  font-size: 1rem;
}
#footer .inner .footer-section-wrapper img.footer_image_item {
  width: 100%;
  object-position: center;
  object-fit: contain;
  max-height: 6rem;
  opacity: 0.75;
  transition: all 0.35s linear;
}
#footer .inner .footer-section-wrapper img.footer_image_item:first-of-type {
  margin-top: 12px;
}
#footer .inner .footer-section-wrapper img.footer_image_item:hover {
  opacity: 1;
  filter: initial;
}
@media (max-width: 1160px) {
  #footer .inner .footer-section-wrapper {
    flex-flow: column;
  }
}

#footer .inner .footer-copyright-wrapper {
  margin: 0 auto;
}*/
/*
#footer .inner .logos {
  margin: auto;
  margin-top: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 90%;
  height: 4em;
  filter: sepia(100%) saturate(0) brightness(50%);
  opacity: 0.75;
  transition: all 0.35s linear;
}
#footer .inner .logos:hover {
  filter: initial;
  opacity: 1;
}
@media print {
  #footer .inner .logos {
    filter: unset;
  }
}
@media (max-width: 842px) {
  #footer .inner .logos {
    height: 6em;
  }
}
#footer .inner ul.logos {
  margin-top: 2em;
  margin-bottom: 2em;
}
#footer .inner ul.logos > li {
  filter: sepia(100%) saturate(0) brightness(50%);
  opacity: 0.75;
  transition: all 0.35s linear;
}
#footer .inner ul.logos > li:hover {
  filter: initial;
  opacity: 1;
}
@media print {
  #footer .inner ul.logos > li {
    filter: unset;
  }
}
/*
#footer .inner ul.copyright {
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 0.8em;
  margin-bottom: 1em;
  opacity: 0.8;
  font-size: 0.9em;
  padding-bottom: 0;
  padding-top: 0;
}
#footer .inner ul.copyright .logo_dedalo {
  height: 1.15em;
  vertical-align: text-bottom;
}
@media (max-width: 1160px) {
  #footer .inner ul.copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (max-width: 842px) {
  #footer .inner ul.copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #footer .inner .copyright li {
    line-height: 1;
    line-height: inherit;
    text-align: center;
  }
} */