
header{
  position: absolute;
  margin: auto;
  top: 0;
  height: 10vh;
  width: 100vw;
  background-color: #005f54;
      z-index: 3;
}

@media (aspect-ratio <= 4/3) {
  .container_header {
    background-image: none;
  }
  header{
    height: 8.5vh;
  }

  .lista_enlaces li a{
    display: none;
  }
  .lista_RRSS li a img{
     display: none !important;
  }
  .lista_RRSS li a {
     display: none !important;
  }
  .huevo_web{
     display: none !important;
  }
}

.container_header {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    position: absolute;
    top: 0;
    grid-template-columns: 1.25fr 0.75fr 1.25fr;
    z-index: 3;
  }

.lista_enlaces{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.lista_enlaces li{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 3.5%;
  align-items: center;
  margin: auto;
  font-size: 1.25vw;
  flex: 1;
}

.lista_enlaces  li a {
  border-bottom: none;
  color: white;
  opacity: 0.75;
  transition: all 0.3s ease-in-out;
}

.lista_enlaces li a:hover{
opacity: 1;
font-size: 1.35vw;
color: white !important;
}

#responsive-nav{
  top: 2% !important;
}

.lista_RRSS {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; /* <-- Alineación a la izquierda */
  align-items: center;
  margin: 0 auto; /* <-- centra el contenedor dentro del padre */
  margin-left: 44%;
}


.lista_RRSS li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}



.lista_RRSS  li a {
  height: auto; /* Ajusta según el tamaño deseado */
  width: 50%;
  border-bottom: none;
  color: white;
  opacity: 0.75;
    display: inline-block;
  transition: all 0.3s ease-in-out;
}

.lista_RRSS  li a img {
height: 100%; /* Ajusta según el tamaño deseado */
width: 100%;
display: block;
}


.lista_RRSS li a:hover {
  opacity: 1;
  transform: scale(1.1);
}


.huevo_web{
position: relative;
width: 100%;
height: 170%;
background-image: url(../html/Header_Huevo.svg);
background-size: contain;
background-repeat: no-repeat;
transform: translateY(58.5%);
background-position: center top; /* 🔥 Esto es clave */
overflow: visible !important;
}

.huevo_web > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  width: 9vw;
  height: 9vw; /* ← Añadí esto */
  aspect-ratio: 1;
  z-index: 10;
  display: block;
  border-bottom: none;
}