.button_display{
  width: 1.7rem;
  transform: translateX(20%) translateY(25%);
}

.container_hallazgos{
  font-size: 1.5rem;
}

.arbol_completo{
  margin-top: 10px;
}

#rows_container{
  margin-top: 10px;
  border-top: 0.4vh solid #a8a8a8;
}
.rows_container :first-child{
  padding-top: 2vh;
}
.pagination{
  margin-top: 2vh;
}
.pagination.bottom{
  display: none;
}
.container_row_indexation_findspots{
  padding-bottom: 1vh;
}